<!DOCTYPE html>
<html lang="en" style="margin: 0;font-family: 'Encode Sans Expanded',
            sans-serif;">
<head style="margin: 0;font-family: 'Encode Sans Expanded',
            sans-serif;">
    <meta charset="UTF-8" style="margin: 0;font-family: 'Encode Sans Expanded',
            sans-serif;">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" style="margin: 0;font-family: 'Encode Sans Expanded',
            sans-serif;">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" style="margin: 0;font-family: 'Encode Sans Expanded',
            sans-serif;">
    <title style="margin: 0;font-family: 'Encode Sans Expanded',
            sans-serif;">Verify Email</title>
    
    
</head>
<body style="margin: 0;font-family: 'Encode Sans Expanded',
            sans-serif; background-color: #cfcfcf; ">
    <nav style="margin: 0;font-family: 'Encode Sans Expanded',
            sans-serif;position: sticky;top: 0;z-index: 10;">
        <div style="justify-content: flex-start;margin: 0;font-family: 'Encode Sans Expanded',
            sans-serif;background-color: #01193d;height: 80px;">
            <h1 style="margin: 0;font-family: 'Encode Sans Expanded',
            sans-serif;color: #fff;padding: 24px;">CryptoStego</h1>
        </div>
    </nav>
    <main style="margin: 0;font-family: 'Encode Sans Expanded',
            sans-serif; margin: 20px auto; max-width: 650px; ">
        <div class="mainDiv" style="color: #333333;background-color: #f6f6f6; margin: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);padding: 10px 0;">
            <div class="mainSubDiv1" style="margin: 20px;text-align: center;">
                <h1 style="font-size: 25px;">Welcome to CryptoStego !</h1>
            </div>
            
            <div class="mainSubDiv2" style="text-align: center;margin: 20px;">
                <span style="font-weight: 700;">Hi {{name}}</span>
                <p style="line-height: 30px;text-align: center; margin-bottom: 30px;">Welcome to the CryptoStego family. We are super excited to have you onboard!</p>
                <a href="{{cryptoStegoLink}}" style="text-decoration: none;background-color: #01193d;color: #fff;padding: 10px; border-radius: 5px;font-size: 15px;">Open CryptoStego</a>
                <p style="line-height: 30px;text-align: center; margin-top: 30px;">CryptoStego is a method aimed at amalgamating both the cryptography and steganography techniques for a better information security. The primary purpose of this tool is to build up a new method of hiding secret text messages inside an image, by combining both cryptography and steganography. So a new algorithm is proposed and implemented to achieve this.
                </p>
            </div>
        </div>        
    </main>
    <footer style="margin: 0;font-family: 'Encode Sans Expanded',
            sans-serif;margin-top: auto;">
        <div style="margin: 0;font-family: 'Encode Sans Expanded',
            sans-serif;background-color: #01193d; text-align:center; height: 80px;">
            <p style="margin: 0;font-family: 'Encode Sans Expanded',
            sans-serif;color: #fff; padding: 30px;">© All rights are reserved</p>
        </div>
    </footer>
</body>
</html>